name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to submit the dependency graph
      security-events: write # to upload SARIF results
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version-file: .java-version
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          dependency-graph: generate-and-submit
      - run: ./gradlew build testAggregateTestReport --continue
      - name: Install inspequte
        run: cargo install inspequte --locked
      - name: Run inspequte
        run: ./gradlew :backend:inspequteMain
      - name: Upload SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4
        with:
          sarif_file: backend/build/inspequte.sarif
      - name: Upload build reports
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build-reports
          path: |
            backend/build/reports
            backend/build/inspequte.sarif
